body{
    background-color: #e5ccff;
}

#logo{
    height:45px;
}
.columns{
    display.inline_block;
}

.images{
    display.block;
    padding: 30px;
}

.heading{
    display.inline_block;
    white-space:nowrap;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.slideshowimages{
    width: 100%;
}
p{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 30px;
    font: 20px "Palatino Linotype", Palatino, serif;
}

#BlockText{
    text-align: center;
    /*margin-top: 0px;*/
}

#BlockTextRight{
    margin-left: 40%;
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
}
#BlockTextLeft{
    margin-left: 0px;
    text-align: center;
    margin-right: 0px;
    width:50%;
}
#Jukebox{
    width: 40%;
    float: left;
}
.TitleText {  
    position: absolute;
    top: 35%; 
    left: 0; 
    width: 100%; 
    color: red;
    font:  300% 'Oleo Script', Helvetica, sans-serif;
    padding: 0;
    text-shadow: 2px 2px #0d0d0d;
}
.space{
    margin: 4%;
}

.space2{
    margin:5%;
}
.active{
    z-index:99;
}

.TopScroller{
    padding:0;
    margin:0;
}

.TitleBar{
    background-color: #333;
    width: 100%;
    color: white;
    padding: 0.5px;
    margin: 0px;
    font: 20px "Palatino Linotype", Palatino, serif;
    text-align: center;

}
.Descriptions{
    display: inline;
    margin-top: 40px;
    padding: 30px;
    width: 33px;
    margin: 20px;
}
#Sprite{
    height: 200px; 
    padding-left: 40px;
    float: left;
}
#Pig{
    width: 40%; 
    padding-left: 0px; 
    float: right
}

#Parallax{
    padding-top: 30px;
    height: 300px;
    padding-left: 20px;
    float:left;
    padding-right: 40px;
}
#PythonIcon{
    padding-top: 30px;
    float:left;
    height: 100px;
    padding-left: 30px;
    padding-top: 50px;

}
.SpecificProject{
    display:inline;
    margin-top: 50px;
    padding: 30px;
    padding-top: 60px;
}

#Left{
    margin-left: 40px;
}

.Right{
    margin-left: 40px;
    margin-top: 100px;
}
/*slideshow */

.slideshow-container {
    position: relative;
}
.mySlides{
    width: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}
